// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/ {
	aliases {
		serial0 = &uart13;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	hdmi_5p0_reg: regulator-hdmi-5v0 {
		compatible = "regulator-fixed";
		regulator-name = "hdmi_5p0";

		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&tlmm 184 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-0 = <&hdmi_5p0_state>;
		pinctrl-names = "default";
	};

	hdmi-0-connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_0_connector_in: endpoint {
				remote-endpoint = <&mdss_hdmi_out>;
			};
		};
	};

	pmic-glink {
		compatible = "qcom,eliza-pmic-glink",
			     "qcom,sm8550-pmic-glink",
			     "qcom,pmic-glink";
		#address-cells = <1>;
		#size-cells = <0>;
		orientation-gpios = <&tlmm 122 GPIO_ACTIVE_HIGH>;

		connector@0 {
			compatible = "usb-c-connector";
			reg = <0>;

			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					pmic_glink_hs_in: endpoint {
						remote-endpoint = <&usb_dwc3_hs>;
					};
				};

				port@1 {
					reg = <1>;

					pmic_glink_ss_in: endpoint {
						remote-endpoint = <&usb_dp_qmpphy_out>;
					};
				};
			};
		};
	};
};

&mdss {
	status = "okay";
};

&mdss_hdmi {
	pinctrl-0 = <&hdmi_ddc_default>,
		    <&hdmi_cec_active>,
		    <&hdmi_hpd_active>;
	pinctrl-1 = <&hdmi_ddc_default>,
		    <&hdmi_cec_sleep>,
		    <&hdmi_hpd_sleep>;
	pinctrl-names = "default", "sleep";

	core-vcc-supply = <&vreg_l2b>;
	core-vdda-supply = <&vreg_l4b>;
	vddio-supply = <&hdmi_5p0_reg>;

	status = "okay";
};

&mdss_hdmi_out {
	remote-endpoint = <&hdmi_0_connector_in>;
};

&mdss_hdmi_phy {
	status = "okay";
};

&pm7550ba_eusb2_repeater {
	vdd18-supply = <&vreg_l7b>;
	vdd3-supply = <&vreg_l17b>;
};

&sdhc_2 {
	vmmc-supply = <&vreg_l13b>;
	vqmmc-supply = <&vreg_l23b>;

	cd-gpios = <&tlmm 58 GPIO_ACTIVE_LOW>;

	pinctrl-0 = <&sdc2_default>, <&sd_cd>;
	pinctrl-1 = <&sdc2_sleep>, <&sd_cd>;
	pinctrl-names = "default", "sleep";

	status = "okay";
};

&tlmm {
	hdmi_ddc_default: hdmi-ddc-state {
		hdmi-ddc-scl-pins {
			pins = "gpio6";
			function = "hdmi_ddc_scl";
			drive-strength = <2>;
			bias-pull-up;
		};

		hdmi-ddc-sda-pins {
			pins = "gpio7";
			function = "hdmi_ddc_sda";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	hdmi_cec_active: hdmi-cec-active-state {
		pins = "gpio46";
		function = "hdmi_tx_cec";
		drive-strength = <16>;
		bias-pull-up;
	};

	hdmi_cec_sleep: hdmi-cec-sleep-state {
		pins = "gpio46";
		function = "hdmi_tx_cec";
		drive-strength = <2>;
		bias-pull-up;
	};

	hdmi_hpd_active: hdmi-hpd-active-state {
		pins = "gpio47";
		function = "hdmi_hot_plug";
		drive-strength = <16>;
		bias-pull-down;
	};

	hdmi_hpd_sleep: hdmi-hpd-sleep-state {
		pins = "gpio47";
		function = "hdmi_hot_plug";
		drive-strength = <2>;
		bias-pull-down;
	};

	sd_cd: sd-cd-state {
		pins = "gpio58";
		function = "gpio";
		bias-pull-up;
	};

	hdmi_5p0_state: hdmi-5p0-state {
		pins = "gpio184";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
		output-low;
	};
};

&uart13 {
	compatible = "qcom,geni-debug-uart";

	status = "okay";
};

&usb {
	status = "okay";
};

&usb_dp_qmpphy {
	vdda-phy-supply = <&vreg_l3g>;
	vdda-pll-supply = <&vreg_l7k>;

	status = "okay";
};

&usb_dp_qmpphy_out {
	remote-endpoint = <&pmic_glink_ss_in>;
};

&usb_dwc3_hs {
	remote-endpoint = <&pmic_glink_hs_in>;
};

&usb_hsphy {
	vdd-supply = <&vreg_l7k>;
	vdda12-supply = <&vreg_l4b>;

	phys = <&pm7550ba_eusb2_repeater>;

	status = "okay";
};
